flows.json
[
    {
        "id": "3f90c4c31b85efd4",
        "type": "tab",
        "label": "Flow snmp fetch from config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d353a7da6ed8c594",
        "type": "tab",
        "label": "Flow snmp manual",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8902b921da4a441e",
        "type": "tab",
        "label": "Flow http serve",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bb232ee4f529f6f",
        "type": "tab",
        "label": "Flow tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cb39d2ff60de472",
        "type": "subflow",
        "name": "snmp3-authPriv-SHA-DES fetch and save",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "daee20936e975ba4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 140,
                "wires": [
                    {
                        "id": "7f34500f0087d89d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C7E9C0"
    },
    {
        "id": "85dbc6b35fde6078",
        "type": "subflow",
        "name": "initialise",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1200,
                "y": 420,
                "wires": [
                    {
                        "id": "b2fcd36c1d611836",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a1e4324b31a71af9",
        "type": "subflow",
        "name": "db controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 360,
                "wires": [
                    {
                        "id": "d36a4e79b3216b62"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1580,
                "y": 340,
                "wires": [
                    {
                        "id": "1ee588818b4b9ab9",
                        "port": 0
                    },
                    {
                        "id": "6ff3a75ba8142d67",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#F3B567",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "6dafd41e2e288cc7",
        "type": "subflow",
        "name": "db updateValues",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "54d3652d380d06e5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "06a60aca83a65034",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "dd256e9dce8a99f6",
        "type": "subflow",
        "name": "db selectObjects",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "2f15c708218e8cd0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "1384b3946d4931b7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "fef427aa2bd2e850",
        "type": "subflow",
        "name": "snmp3-authPriv-SHA-AES fetch and save",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "cd96b9485f97d538"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 140,
                "wires": [
                    {
                        "id": "91c0427b03045782",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C7E9C0"
    },
    {
        "id": "d5d393300a7d91ca",
        "type": "subflow",
        "name": "db selectDevices",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "b92f0cfc7133568a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 120,
                "wires": [
                    {
                        "id": "c38347e3c93cf8df",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "af5716f8f7c32e34",
        "type": "subflow",
        "name": "snmp3 fetch and save",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "537965883b2a0489"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1440,
                "y": 220,
                "wires": [
                    {
                        "id": "47880256b859f8b2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C7E9C0"
    },
    {
        "id": "929876902304719e",
        "type": "sqlitedb",
        "z": "a1e4324b31a71af9",
        "db": "db",
        "mode": "RWC"
    },
    {
        "id": "daee20936e975ba4",
        "type": "snmp",
        "z": "4cb39d2ff60de472",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-DES",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "7f34500f0087d89d"
            ]
        ]
    },
    {
        "id": "2b3af25592503162",
        "type": "comment",
        "z": "4cb39d2ff60de472",
        "name": "snmp fetch oids",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "7f34500f0087d89d",
        "type": "subflow:6dafd41e2e288cc7",
        "z": "4cb39d2ff60de472",
        "name": "",
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8a560d462d8e6287",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "delete and rebuild empty db table every time flow starts",
        "info": "",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "ace450be30c729e4",
        "type": "file in",
        "z": "85dbc6b35fde6078",
        "name": "",
        "filename": "C:\\ProgramData\\node-red\\projects\\node-red-snmp-fetcher-service\\examples\\SNMPObjectList.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "25017f1ebb912170"
            ]
        ]
    },
    {
        "id": "25017f1ebb912170",
        "type": "csv",
        "z": "85dbc6b35fde6078",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "45067b4482a64ee1"
            ]
        ]
    },
    {
        "id": "982f3d55cb15109f",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "optional: set snmp object list file path",
        "info": "",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "1f537f25276d6d68",
        "type": "inject",
        "z": "85dbc6b35fde6078",
        "name": "inject once on start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "220835e01f1fad3a"
            ]
        ]
    },
    {
        "id": "f2c30889586fe20a",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "db",
        "info": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "c862aea5ae8d91da",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "db",
        "info": "",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "b06c7835c66a5f67",
        "type": "subflow:a1e4324b31a71af9",
        "z": "85dbc6b35fde6078",
        "name": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "ace450be30c729e4"
            ]
        ]
    },
    {
        "id": "220835e01f1fad3a",
        "type": "change",
        "z": "85dbc6b35fde6078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "initialise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "b06c7835c66a5f67"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "d3387bd2848feb8f",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "db operation: initialise",
        "info": "",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "b2fcd36c1d611836",
        "type": "subflow:a1e4324b31a71af9",
        "z": "85dbc6b35fde6078",
        "name": "",
        "x": 930,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1e7e38e8385fa24b",
        "type": "change",
        "z": "85dbc6b35fde6078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "loadObjectList",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "b2fcd36c1d611836"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "3e2d5a9f29ae1c78",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "db operation: loadObjectList",
        "info": "",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "45067b4482a64ee1",
        "type": "function",
        "z": "85dbc6b35fde6078",
        "name": "remove spaces from keys",
        "func": "var data = msg.payload;\n\n// get the column names form the first object in the array\nvar columns = Object.keys(data[0])\n\n// remove spaces from column names\nvar newData = data.map(function(row) {\n    var newRow = {};\n    columns.forEach(function(col) {\n        var newCol = col.trim().replace(/\\s+/g,'');\n        newRow[newCol] = row[col];\n    });\n    return newRow;\n});\n\n// set the new modofed data back to the payload\nmsg.payload = newData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "1e7e38e8385fa24b",
                "53186093ce1d2e9a"
            ]
        ]
    },
    {
        "id": "53186093ce1d2e9a",
        "type": "change",
        "z": "85dbc6b35fde6078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "loadDeviceList",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "b2fcd36c1d611836"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "86fa83bf819afdbf",
        "type": "comment",
        "z": "85dbc6b35fde6078",
        "name": "db operation: loadDeviceList",
        "info": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "31b609f52483bee1",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "insert into or update snmp_objects",
        "func": "// this query inserts a new record into snmp_oids table for each OID\n// unless there is an existing record with the same devicename and oid,\n// in which case this record is updated with the payload value and tstr\nmsg.topic = `\nINSERT INTO snmp_objects (devicename, oid, value, tstr, updated)\nVALUES ($devicename, $oid, $value, $tstr, CURRENT_TIMESTAMP)\nON CONFLICT(devicename, oid) DO UPDATE SET\nvalue = excluded.value,\ntstr = excluded.tstr,\nupdated = excluded.updated;\n`;\n\n// check if payload is an array or single object\nif (Array.isArray(msg.payload)) {\n    msg.payload = msg.payload.map(item => [\n        msg.devicename,\n        item.oid,\n        item.value !== undefined ? item.value.toString() : null, // convert value to string if it's not null\n        item.tstr\n    ]);\n} else {\n    msg.payload = [[\n        msg.payload.devicename,\n        msg.payload.oid,\n        msg.payload.value !== undefined ? msg.payload.value.toString() : null, // convert value to string if it's not null\n        msg.payload.tstr\n    ]];\n}\n\nreturn msg;\n\n// this query inserts a new record into snmp_oids table for each OID\n// unless there is an existing record with the same devicename and oid,\n// in which case the record is deleted and replaced with a new one with the payload values\n// this isnt ideal as the id integer will autoincrement and the record id will increment up every time a poll is done\n// msg.topic = `\n// INSERT OR REPLACE INTO snmp_oids (devicename, oid, value, tstr, updated)\n// VALUES ($devicename, $oid, $value, $tstr, CURRENT_TIMESTAMP);\n// `;\n\n// msg.payload = msg.payload.map(item => [\n//     msg.devicename, \n//     item.oid,\n//     item.value ? item.value.toString() : null, // convert value to string if it's not null\n//     item.tstr\n// ]);\n\n// return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 540,
        "wires": [
            [
                "d6c7989734c411c6"
            ]
        ]
    },
    {
        "id": "d6c7989734c411c6",
        "type": "split",
        "z": "a1e4324b31a71af9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 540,
        "wires": [
            [
                "1ee588818b4b9ab9"
            ]
        ]
    },
    {
        "id": "f72fb46786743d63",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "build SQL query",
        "info": "",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "bd2f37536361be44",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "one query per oid",
        "info": "",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "d36a4e79b3216b62",
        "type": "switch",
        "z": "a1e4324b31a71af9",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "loadObjectList",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadDeviceList",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "updateValues",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selectObjects",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selectDevices",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "initialise",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "739f820542ac8139"
            ],
            [
                "8ca8538724a2b4d1"
            ],
            [
                "31b609f52483bee1"
            ],
            [
                "c17e5ff32bde3608"
            ],
            [
                "781fabf11ee23c01"
            ],
            [
                "92fa7b2c416c1c5f"
            ],
            [
                "6ff3a75ba8142d67"
            ]
        ],
        "outputLabels": [
            "loadObjectList",
            "updateValues",
            "selectObjects",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "dda40efb623467be",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "update object values",
        "info": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "739f820542ac8139",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "insert snmp object list",
        "func": "// this query inserts a new record into snmp_oids table for each OID\n// unless there is an existing record with the same devicename and oid,\n// in which case this record is updated with the payload value and tstr\nmsg.topic = `\nINSERT INTO snmp_objects (devicename, oid, objectname)\nVALUES ($devicename, $oid, $objectname)\nON CONFLICT(devicename, oid) DO UPDATE SET\nobjectname = excluded.objectname\n`;\n\nmsg.payload = msg.payload.map(item => [\n    item.DeviceName, \n    item.OID,\n    item.FriendlyName\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "62b6258f8fc94aca"
            ]
        ]
    },
    {
        "id": "62b6258f8fc94aca",
        "type": "split",
        "z": "a1e4324b31a71af9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 140,
        "wires": [
            [
                "1ee588818b4b9ab9"
            ]
        ]
    },
    {
        "id": "896397f0ef5ea5d0",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "build SQL query",
        "info": "",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "8fce4888cf9b33fa",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "insert snmp objects",
        "info": "",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ea791a27f3df055",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "one query per oid",
        "info": "",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed2f6b7e4b7b2920",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "execute on db",
        "info": "",
        "x": 1430,
        "y": 300,
        "wires": []
    },
    {
        "id": "c17e5ff32bde3608",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "select from snmp_objects",
        "func": "let sqlQuery = \"SELECT * FROM snmp_objects\";\nif (msg.payload.devicename) {\n    sqlQuery += \" WHERE devicename LIKE '%\" + msg.payload.devicename + \"%';\"\n}\nmsg.topic = sqlQuery;\nmsg.payload = [msg.payload.devicename];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 740,
        "wires": [
            [
                "1ee588818b4b9ab9"
            ]
        ]
    },
    {
        "id": "e2ec9c8f26ab8df9",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "fetch records from db, filter by query params",
        "info": "# query params\n -  devicename: filters objects where devicename like devicename",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "7944474ad3951890",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "fetch records",
        "info": "",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "1f908a957b881a19",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "1. loadObjectList",
        "info": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "21ed41b9cd5652f3",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "3. updateValues",
        "info": "",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "c6721f1ac52008db",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "4. selectObjects",
        "info": "",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "9889b007cf0c4635",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "7. otherwise",
        "info": "",
        "x": 550,
        "y": 1300,
        "wires": []
    },
    {
        "id": "23aa4a6a697b7335",
        "type": "debug",
        "z": "a1e4324b31a71af9",
        "name": "unknown database operation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6ff3a75ba8142d67",
        "type": "change",
        "z": "a1e4324b31a71af9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "Unknown database operation. Check msg.action is valid",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1300,
        "wires": [
            [
                "23aa4a6a697b7335"
            ]
        ]
    },
    {
        "id": "1ee588818b4b9ab9",
        "type": "sqlite",
        "z": "a1e4324b31a71af9",
        "mydb": "929876902304719e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1410,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "617f9b09155f3d5c",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "create snmp_objects table",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS snmp_objects (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    devicename TEXT,\n    oid TEXT,\n    objectname TEXT,\n    value TEXT,\n    tstr TEXT,\n    updated DATETIME,\n    UNIQUE(devicename, oid)\n);\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1140,
        "wires": [
            [
                "5d40df115788d03a"
            ]
        ]
    },
    {
        "id": "92fa7b2c416c1c5f",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "delete tables",
        "func": "msg.topic = `\nDROP TABLE IF EXISTS snmp_objects;\nDROP TABLE IF EXISTS snmp_devices;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "d991e1d8e77b5ab8"
            ]
        ]
    },
    {
        "id": "ebdb4563f9e59e69",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "delete and rebuild empty db tables every time flow starts",
        "info": "",
        "x": 840,
        "y": 1100,
        "wires": []
    },
    {
        "id": "6c9bb5c4e31980fe",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "initialise db",
        "info": "",
        "x": 700,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5d6c30775007404a",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "6. initialise",
        "info": "",
        "x": 560,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d991e1d8e77b5ab8",
        "type": "sqlite",
        "z": "a1e4324b31a71af9",
        "mydb": "929876902304719e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 870,
        "y": 1140,
        "wires": [
            [
                "617f9b09155f3d5c"
            ]
        ]
    },
    {
        "id": "919b07f1a3b474df",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "2. loadDeviceList",
        "info": "",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "8ca8538724a2b4d1",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "insert snmp device list",
        "func": "// this query inserts a new record into snmp_oids table for each OID\n// unless there is an existing record with the same devicename and oid,\n// in which case this record is updated with the payload value and tstr\nmsg.topic = `\nINSERT OR IGNORE INTO snmp_devices (\n    devicename,\n    ipaddress,\n    version,\n    securitylevel,\n    user,\n    authmode,\n    authpass,\n    privmode,\n    privpass,\n    community\n)\nVALUES (\n    $devicename,\n    $ipaddress,\n    $version,\n    $securitylevel,\n    $user,\n    $authmode,\n    $authpass,\n    $privmode,\n    $privpass,\n    $community\n)\n`;\n\nmsg.payload = msg.payload.map(item => [\n    item.DeviceName, \n    item.ServerIP,\n    item.Version,\n    item.SecurityLevel,\n    item.User,\n    item.AuthMode,\n    item.AuthPass,\n    item.PrivMode,\n    item.PrivPass,\n    item.Community\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "b11c25572920cb8f"
            ]
        ]
    },
    {
        "id": "010ba258ca798a98",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "create snmp_devices table",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS snmp_devices (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    devicename TEXT,\n    ipaddress TEXT,\n    version TEXT,\n    securitylevel TEXT,\n    user TEXT,\n    authmode TEXT,\n    authpass TEXT,\n    privmode TEXT,\n    privpass TEXT,\n    community TEXT,\n    updated DATETIME,\n    UNIQUE(devicename, ipaddress)\n);\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1200,
        "wires": [
            [
                "1ee588818b4b9ab9"
            ]
        ]
    },
    {
        "id": "b11c25572920cb8f",
        "type": "split",
        "z": "a1e4324b31a71af9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 340,
        "wires": [
            [
                "1ee588818b4b9ab9"
            ]
        ]
    },
    {
        "id": "32fcec1675b54515",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "one query per row",
        "info": "",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "893da269ac15632e",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "build SQL query",
        "info": "",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "66860197388fe72d",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "insert snmp devices",
        "info": "",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "781fabf11ee23c01",
        "type": "function",
        "z": "a1e4324b31a71af9",
        "name": "select from snmp_devices",
        "func": "let sqlQuery = \"SELECT * FROM snmp_devices\";\nif (msg.payload.devicename) {\n    sqlQuery += \" WHERE devicename = $devicename\";\n}\nmsg.topic = sqlQuery;\nmsg.payload = [msg.payload.devicename];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 940,
        "wires": [
            [
                "1ee588818b4b9ab9"
            ]
        ]
    },
    {
        "id": "fd35fa72f361e391",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "fetch records from db, filter by query params",
        "info": "# query params\n -  devicename: filters objects where devicename like devicename",
        "x": 810,
        "y": 900,
        "wires": []
    },
    {
        "id": "6c3d5f8890ee8e98",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "fetch records",
        "info": "",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "4e990398b7fd1fc9",
        "type": "comment",
        "z": "a1e4324b31a71af9",
        "name": "5. selectDevices",
        "info": "",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "5d40df115788d03a",
        "type": "sqlite",
        "z": "a1e4324b31a71af9",
        "mydb": "929876902304719e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1310,
        "y": 1140,
        "wires": [
            [
                "010ba258ca798a98"
            ]
        ]
    },
    {
        "id": "06a60aca83a65034",
        "type": "subflow:a1e4324b31a71af9",
        "z": "6dafd41e2e288cc7",
        "name": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "54d3652d380d06e5",
        "type": "change",
        "z": "6dafd41e2e288cc7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "updateValues",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "06a60aca83a65034"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "acdf9533bd4cb658",
        "type": "comment",
        "z": "6dafd41e2e288cc7",
        "name": "db operation: updateValues",
        "info": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "1384b3946d4931b7",
        "type": "subflow:a1e4324b31a71af9",
        "z": "dd256e9dce8a99f6",
        "name": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2f15c708218e8cd0",
        "type": "change",
        "z": "dd256e9dce8a99f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "selectObjects",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "1384b3946d4931b7"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "57d77387e86edbff",
        "type": "comment",
        "z": "dd256e9dce8a99f6",
        "name": "db operation: selectObjects",
        "info": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd96b9485f97d538",
        "type": "snmp",
        "z": "fef427aa2bd2e850",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "AES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-AES",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "91c0427b03045782"
            ]
        ]
    },
    {
        "id": "a15f730d97a7c8d2",
        "type": "comment",
        "z": "fef427aa2bd2e850",
        "name": "snmp fetch oids",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "91c0427b03045782",
        "type": "subflow:6dafd41e2e288cc7",
        "z": "fef427aa2bd2e850",
        "name": "",
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c38347e3c93cf8df",
        "type": "subflow:a1e4324b31a71af9",
        "z": "d5d393300a7d91ca",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b92f0cfc7133568a",
        "type": "change",
        "z": "d5d393300a7d91ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "selectDevices",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "c38347e3c93cf8df"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "440a3c2a33cc7ec9",
        "type": "comment",
        "z": "d5d393300a7d91ca",
        "name": "db operation: selectDevices",
        "info": "",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "537965883b2a0489",
        "type": "switch",
        "z": "af5716f8f7c32e34",
        "name": "securitylevel",
        "property": "device.securitylevel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Auth Priv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AuthPriv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Auth NoPriv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AuthNoPriv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NoAuth NoPriv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NoAuthNoPriv",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "dda1eb8f180a4e0c"
            ],
            [
                "dda1eb8f180a4e0c"
            ],
            [
                "579b90dd4165b8e4"
            ],
            [
                "579b90dd4165b8e4"
            ],
            [
                "480521c06312e871"
            ],
            [
                "480521c06312e871"
            ]
        ]
    },
    {
        "id": "becca04501ef434d",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "AES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-AES",
        "x": 960,
        "y": 140,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "6da9b05ca85b70c9",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-DES",
        "x": 960,
        "y": 180,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "f278e0a861c7f322",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authNoPriv-MD5",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "8390055bc42b438d",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authNoPriv",
        "authprot": "SHA",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authNoPriv-SHA",
        "x": 950,
        "y": 300,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "dda1eb8f180a4e0c",
        "type": "switch",
        "z": "af5716f8f7c32e34",
        "name": "authmode: SHA | MD5",
        "property": "device.authmode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SHA",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "5b8b0a334ba46c99"
            ],
            [
                "34fb82a84b180239"
            ]
        ]
    },
    {
        "id": "480521c06312e871",
        "type": "switch",
        "z": "af5716f8f7c32e34",
        "name": "noAuthNoPriv",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "cfccfd0991517ccd"
            ]
        ]
    },
    {
        "id": "08325ce1cbaaf1af",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "MD5",
        "privprot": "AES",
        "oids": "",
        "name": "snmp3-authPriv-MD5-AES",
        "x": 960,
        "y": 220,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "abe830c2b473b7d4",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authPriv-MD5-DES",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "cfccfd0991517ccd",
        "type": "snmp",
        "z": "af5716f8f7c32e34",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-noAuthNoPriv",
        "x": 940,
        "y": 380,
        "wires": [
            [
                "47880256b859f8b2"
            ]
        ]
    },
    {
        "id": "5b8b0a334ba46c99",
        "type": "switch",
        "z": "af5716f8f7c32e34",
        "name": "privmode: AES | DES",
        "property": "device.privmode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "AES",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "becca04501ef434d"
            ],
            [
                "6da9b05ca85b70c9"
            ]
        ]
    },
    {
        "id": "34fb82a84b180239",
        "type": "switch",
        "z": "af5716f8f7c32e34",
        "name": "privmode: AES | DES",
        "property": "device.privmode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "AES",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "08325ce1cbaaf1af"
            ],
            [
                "abe830c2b473b7d4"
            ]
        ]
    },
    {
        "id": "579b90dd4165b8e4",
        "type": "switch",
        "z": "af5716f8f7c32e34",
        "name": "authmode: SHA | MD5",
        "property": "device.authmode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SHA",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "8390055bc42b438d"
            ],
            [
                "f278e0a861c7f322"
            ]
        ]
    },
    {
        "id": "47880256b859f8b2",
        "type": "subflow:6dafd41e2e288cc7",
        "z": "af5716f8f7c32e34",
        "name": "",
        "x": 1270,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "70279bda47fdde84",
        "type": "comment",
        "z": "af5716f8f7c32e34",
        "name": "SNMP security level switch",
        "info": "",
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "651dc453d0411dd4",
        "type": "comment",
        "z": "3f90c4c31b85efd4",
        "name": "periodically fetch device object values and update db",
        "info": "",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "53aac667d120fd1d",
        "type": "subflow:d5d393300a7d91ca",
        "z": "3f90c4c31b85efd4",
        "name": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "a3dd2fc6fbe0f57b"
            ]
        ]
    },
    {
        "id": "a3dd2fc6fbe0f57b",
        "type": "split",
        "z": "3f90c4c31b85efd4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "9ed39a51688a7551"
            ]
        ]
    },
    {
        "id": "9937beba3e95905e",
        "type": "inject",
        "z": "3f90c4c31b85efd4",
        "name": "every 2min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "53aac667d120fd1d"
            ]
        ]
    },
    {
        "id": "87e9b4d65bd74c70",
        "type": "subflow:dd256e9dce8a99f6",
        "z": "3f90c4c31b85efd4",
        "name": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "834afc2720403846"
            ]
        ]
    },
    {
        "id": "834afc2720403846",
        "type": "function",
        "z": "3f90c4c31b85efd4",
        "name": "get oids",
        "func": "var array = msg.payload;\n\nvar oidValues = array.map(function(obj) {\n    return obj.oid;\n});\n// prepare for node-red-node-snmp\n// msg.oid must contain a comma separted list of oids to search for (no spaces)\nmsg.oid = oidValues.join(',');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "8d7065a41dbe8eec"
            ]
        ]
    },
    {
        "id": "9ed39a51688a7551",
        "type": "change",
        "z": "3f90c4c31b85efd4",
        "name": "set-snmp-config",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.ipaddress",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "devicename",
                "pt": "msg",
                "to": "payload.devicename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "payload.user",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "authkey",
                "pt": "msg",
                "to": "payload.authpass",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "privkey",
                "pt": "msg",
                "to": "msg.payload.privpass",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "87e9b4d65bd74c70"
            ]
        ]
    },
    {
        "id": "8d7065a41dbe8eec",
        "type": "delay",
        "z": "3f90c4c31b85efd4",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "0ae4f8b7b55b2f37"
            ]
        ]
    },
    {
        "id": "3144409829d9ff68",
        "type": "debug",
        "z": "3f90c4c31b85efd4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "0ae4f8b7b55b2f37",
        "type": "subflow:af5716f8f7c32e34",
        "z": "3f90c4c31b85efd4",
        "name": "",
        "x": 960,
        "y": 240,
        "wires": [
            [
                "3144409829d9ff68"
            ]
        ]
    },
    {
        "id": "6d09ee4d9f58f9d9",
        "type": "comment",
        "z": "d353a7da6ed8c594",
        "name": "snmp device configuration",
        "info": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "b1d5799b4cca5ca6",
        "type": "comment",
        "z": "d353a7da6ed8c594",
        "name": "snmp fetch values --> build SQL query --> update db",
        "info": "",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "c00d5b762b9f8e37",
        "type": "comment",
        "z": "d353a7da6ed8c594",
        "name": "delete and rebuild empty db table every time flow starts",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "f6ce31580e4df122",
        "type": "comment",
        "z": "d353a7da6ed8c594",
        "name": "periodically fetch device object values and update db",
        "info": "",
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "7df45eaee86387e4",
        "type": "subflow:4cb39d2ff60de472",
        "z": "d353a7da6ed8c594",
        "name": "",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "37f7bef83a71a1b0"
            ]
        ]
    },
    {
        "id": "1dd32a2f1723abff",
        "type": "change",
        "z": "d353a7da6ed8c594",
        "name": "DGS-12010-52MP",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "10.1.1.112",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oid",
                "pt": "msg",
                "to": "1.3.6.1.2.1.1.3.0,1.3.6.1.2.1.1.5.0,1.3.6.1.4.1.38446.1.3.4.1.6.1.1,1.3.6.1.4.1.171.10.76.34.1.1.13.1.2.30,1.3.6.1.4.1.171.10.76.34.1.1.13.1.7.36,1.3.6.1.2.1.1.1,1.3.6.1.2.1.1.1.0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "devicename",
                "pt": "msg",
                "to": "DGS-12010-52MP",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "testAuthPriv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "authkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "privkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "7df45eaee86387e4"
            ]
        ]
    },
    {
        "id": "4a85d3de167ab092",
        "type": "delay",
        "z": "d353a7da6ed8c594",
        "name": "",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "1dd32a2f1723abff"
            ]
        ]
    },
    {
        "id": "cb5220cd77de1b1e",
        "type": "inject",
        "z": "d353a7da6ed8c594",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4a85d3de167ab092",
                "e2c89243f46a117c",
                "45b26f1b95a29c9a",
                "d5dce8e1d952a6e0",
                "37038099f7b13681"
            ]
        ]
    },
    {
        "id": "e2c89243f46a117c",
        "type": "delay",
        "z": "d353a7da6ed8c594",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "14e63882f4c368ce"
            ]
        ]
    },
    {
        "id": "45b26f1b95a29c9a",
        "type": "delay",
        "z": "d353a7da6ed8c594",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "620a49a07e10aea0"
            ]
        ]
    },
    {
        "id": "d5dce8e1d952a6e0",
        "type": "delay",
        "z": "d353a7da6ed8c594",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "37038099f7b13681",
        "type": "delay",
        "z": "d353a7da6ed8c594",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d0d0baa64d24d079",
        "type": "debug",
        "z": "d353a7da6ed8c594",
        "name": "debug snmp fetch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 320,
        "wires": []
    },
    {
        "id": "8ac86a8c9074ddfd",
        "type": "subflow:85dbc6b35fde6078",
        "z": "d353a7da6ed8c594",
        "name": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "a1120ad54d6d7bea"
            ]
        ]
    },
    {
        "id": "35c51323df4d14e8",
        "type": "comment",
        "z": "d353a7da6ed8c594",
        "name": "then optionally load records from snmp object list",
        "info": "if this step is skipped, points will be named on the XML Web Service as devicename_oid instead of devicename_objectname\neg \"DGS-12010-52MP_sysUpTime\" or \"DGS-12010-52MP_1.3.6.1.2.1.1.3.0\"",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "14e63882f4c368ce",
        "type": "change",
        "z": "d353a7da6ed8c594",
        "name": "T1-L00-DC1-A10-PDU-A",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "10.32.144.30",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oid",
                "pt": "msg",
                "to": "1.3.6.1.2.1.1.3.0,1.3.6.1.4.1.38446.1.3.4.1.6.1.1,1.3.6.1.4.1.38446.1.2.4.1.4.1,1.3.6.1.4.1.38446.1.2.4.1.5.1,1.3.6.1.4.1.38446.1.2.4.1.6.1,1.3.6.1.4.1.38446.1.2.4.1.9.1,1.3.6.1.4.1.38446.1.6.4.1.8.1.1,1.3.6.1.4.1.38446.1.6.4.1.8.1.2,1.3.6.1.4.1.38446.1.1.2.1.11.1,1.3.6.1.4.1.38446.1.1.2.1.12.1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "devicename",
                "pt": "msg",
                "to": "T1-L00-DC1-A10-PDU-A",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "authkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "privkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "7fb157d9668588c9",
                "892823261cd90337"
            ]
        ]
    },
    {
        "id": "7fb157d9668588c9",
        "type": "snmp",
        "z": "d353a7da6ed8c594",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "AES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-AES",
        "x": 920,
        "y": 300,
        "wires": [
            [
                "37f7bef83a71a1b0"
            ]
        ]
    },
    {
        "id": "5263bb55eecd1b17",
        "type": "snmp",
        "z": "d353a7da6ed8c594",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-DES",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "37f7bef83a71a1b0"
            ]
        ]
    },
    {
        "id": "620a49a07e10aea0",
        "type": "change",
        "z": "d353a7da6ed8c594",
        "name": "T1-L00-DC1-IRC-A1",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "10.32.144.100",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oid",
                "pt": "msg",
                "to": "1.3.6.1.2.1.1.3.0,1.3.6.1.4.1.13400.2.385.1.2.0,1.3.6.1.4.1.13400.2.385.2.2.1.0,1.3.6.1.4.1.13400.2.385.2.2.2.0,1.3.6.1.4.1.13400.2.385.2.2.3.0,1.3.6.1.4.1.13400.2.385.2.2.4.0,1.3.6.1.4.1.13400.2.385.2.2.5.0,1.3.6.1.4.1.13400.2.385.2.2.6.0,1.3.6.1.4.1.13400.2.385.2.2.7.0,1.3.6.1.4.1.13400.2.385.2.2.8.0,1.3.6.1.4.1.13400.2.385.2.2.9.0,1.3.6.1.4.1.13400.2.385.2.2.10.0,1.3.6.1.4.1.13400.2.385.2.2.11.0,1.3.6.1.4.1.13400.2.385.2.2.12.0,1.3.6.1.4.1.13400.2.385.2.2.13.0,1.3.6.1.4.1.13400.2.385.2.2.17.0,1.3.6.1.4.1.13400.2.385.2.2.18.0,1.3.6.1.4.1.13400.2.385.2.2.19.0,1.3.6.1.4.1.13400.2.385.2.2.20.0,1.3.6.1.4.1.13400.2.385.2.2.27.0,1.3.6.1.4.1.13400.2.385.2.2.28.0,1.3.6.1.4.1.13400.2.385.2.2.29.0,1.3.6.1.4.1.13400.2.385.2.2.30.0,1.3.6.1.4.1.13400.2.385.2.2.31.0,1.3.6.1.4.1.13400.2.385.2.2.32.0,1.3.6.1.4.1.13400.2.385.2.2.33.0,1.3.6.1.4.1.13400.2.385.2.2.34.0,1.3.6.1.4.1.13400.2.385.2.2.35.0,1.3.6.1.4.1.13400.2.385.2.2.36.0,1.3.6.1.4.1.13400.2.385.2.2.37.0,1.3.6.1.4.1.13400.2.385.2.2.38.0,1.3.6.1.4.1.13400.2.385.2.2.39.0,1.3.6.1.4.1.13400.2.385.2.2.40.0,1.3.6.1.4.1.13400.2.385.2.2.41.0,1.3.6.1.4.1.13400.2.385.2.2.42.0,1.3.6.1.4.1.13400.2.385.2.2.43.0,1.3.6.1.4.1.13400.2.385.2.2.44.0,1.3.6.1.4.1.13400.2.385.2.2.45.0,1.3.6.1.4.1.13400.2.385.2.2.46.0,1.3.6.1.4.1.13400.2.385.2.2.47.0,1.3.6.1.4.1.13400.2.385.2.2.48.0,1.3.6.1.4.1.13400.2.385.2.2.49.0,1.3.6.1.4.1.13400.2.385.2.2.52.0,1.3.6.1.4.1.13400.2.385.2.2.53.0,1.3.6.1.4.1.13400.2.385.2.2.54.0,1.3.6.1.4.1.13400.2.385.2.2.55.0,1.3.6.1.4.1.13400.2.385.2.2.56.0,1.3.6.1.4.1.13400.2.385.2.2.57.0,1.3.6.1.4.1.13400.2.385.2.2.58.0,1.3.6.1.4.1.13400.2.385.2.2.59.0,1.3.6.1.4.1.13400.2.385.2.2.60.0,1.3.6.1.4.1.13400.2.385.2.2.64.0,1.3.6.1.4.1.13400.2.385.2.2.65.0,1.3.6.1.4.1.13400.2.385.2.2.66.0,1.3.6.1.4.1.13400.2.385.2.2.67.0,1.3.6.1.4.1.13400.2.385.2.2.68.0,1.3.6.1.4.1.13400.2.385.2.2.69.0,1.3.6.1.4.1.13400.2.385.2.2.70.0,1.3.6.1.4.1.13400.2.385.2.2.71.0,1.3.6.1.4.1.13400.2.385.2.2.72.0,1.3.6.1.4.1.13400.2.385.2.2.73.0,1.3.6.1.4.1.13400.2.385.2.4.1.0,1.3.6.1.4.1.13400.2.385.2.4.2.0,1.3.6.1.4.1.13400.2.385.2.4.3.0,1.3.6.1.4.1.13400.2.385.2.4.5.0,1.3.6.1.4.1.13400.2.385.2.2.80.0,1.3.6.1.4.1.13400.2.385.2.2.81.0,1.3.6.1.4.1.13400.2.385.2.2.82.0,1.3.6.1.4.1.13400.2.385.2.2.83.0,1.3.6.1.4.1.13400.2.385.2.2.84.0,1.3.6.1.4.1.13400.2.385.2.2.85.0,1.3.6.1.4.1.13400.2.385.2.2.86.0,1.3.6.1.4.1.13400.2.385.2.2.87.0,1.3.6.1.4.1.13400.2.385.2.2.92.0,1.3.6.1.4.1.13400.2.385.2.2.95.0,1.3.6.1.4.1.13400.2.385.2.2.98.0,1.3.6.1.4.1.13400.2.385.2.2.114.0,1.3.6.1.4.1.13400.2.385.2.2.130.0,1.3.6.1.4.1.13400.2.385.2.2.131.0,1.3.6.1.4.1.13400.2.385.2.2.137.0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "devicename",
                "pt": "msg",
                "to": "T1-L00-DC1-IRC-A1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "authkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "privkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "5263bb55eecd1b17",
                "f79cc80932d9825f"
            ]
        ]
    },
    {
        "id": "f79cc80932d9825f",
        "type": "subflow:4cb39d2ff60de472",
        "z": "d353a7da6ed8c594",
        "name": "",
        "x": 960,
        "y": 400,
        "wires": [
            [
                "37f7bef83a71a1b0"
            ]
        ]
    },
    {
        "id": "892823261cd90337",
        "type": "subflow:fef427aa2bd2e850",
        "z": "d353a7da6ed8c594",
        "name": "",
        "x": 980,
        "y": 340,
        "wires": [
            [
                "37f7bef83a71a1b0"
            ]
        ]
    },
    {
        "id": "0ece72f1b5b8b969",
        "type": "debug",
        "z": "d353a7da6ed8c594",
        "name": "debug initialise output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "37f7bef83a71a1b0",
        "type": "switch",
        "z": "d353a7da6ed8c594",
        "name": "",
        "property": "payload.debug",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1330,
        "y": 340,
        "wires": [
            [
                "d0d0baa64d24d079"
            ],
            []
        ]
    },
    {
        "id": "a1120ad54d6d7bea",
        "type": "switch",
        "z": "d353a7da6ed8c594",
        "name": "",
        "property": "payload.debug",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "0ece72f1b5b8b969"
            ],
            []
        ]
    },
    {
        "id": "f9b646efad1b1957",
        "type": "http in",
        "z": "8902b921da4a441e",
        "name": "",
        "url": "/objects",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "f45c372f9dbb5b2e"
            ]
        ]
    },
    {
        "id": "a43c15c32469513b",
        "type": "http response",
        "z": "8902b921da4a441e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 140,
        "wires": []
    },
    {
        "id": "862a7e8beaa8d91a",
        "type": "template",
        "z": "8902b921da4a441e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<root>\n    <header/>\n    <body>\n        <queryparams>\n        </queryparams>\n        <objects>\n            {{#payload}}\n            {{#objectname}}\n            <{{devicename}}_{{objectname}} id=\"{{id}}\" deviceName=\"{{devicename}}\" objectName=\"{{objectname}}\" oid=\"{{oid}}\" tstr=\"{{tstr}}\" updated=\"{{updated}}\">\n                {{value}}\n            </{{devicename}}_{{objectname}}>\n            {{/objectname}}\n            {{^objectname}}\n            <{{devicename}}_{{oid}} id=\"{{id}}\" deviceName=\"{{devicename}}\" objectName=\"{{objectname}}\" oid=\"{{oid}}\" tstr=\"{{tstr}}\" updated=\"{{updated}}\">\n                {{value}}\n            </{{devicename}}_{{oid}}>\n            {{/objectname}}\n            {{/payload}}\n        </objects>\n    </body>\n</root>",
        "output": "str",
        "x": 840,
        "y": 140,
        "wires": [
            [
                "a43c15c32469513b"
            ]
        ]
    },
    {
        "id": "a8ca054cee99ea30",
        "type": "comment",
        "z": "8902b921da4a441e",
        "name": "listen on http endpoint",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "61aed6e046eaec04",
        "type": "comment",
        "z": "8902b921da4a441e",
        "name": "fetch records from db, filter by query params",
        "info": "# query params\n -  devicename: filters objects where devicename like devicename",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "4121aeb29a73a7de",
        "type": "comment",
        "z": "8902b921da4a441e",
        "name": "structure xml response",
        "info": "# query params\n -  devicename: filters objects where devicename like devicename",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "c7073e1b4212f778",
        "type": "comment",
        "z": "8902b921da4a441e",
        "name": "http response",
        "info": "",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "f45c372f9dbb5b2e",
        "type": "subflow:dd256e9dce8a99f6",
        "z": "8902b921da4a441e",
        "name": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "862a7e8beaa8d91a"
            ]
        ]
    },
    {
        "id": "146482eac493b372",
        "type": "http in",
        "z": "8902b921da4a441e",
        "name": "",
        "url": "/devices",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "4c630145ad81245f"
            ]
        ]
    },
    {
        "id": "27e420ebab7a4e44",
        "type": "http response",
        "z": "8902b921da4a441e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b80a7c901049286",
        "type": "template",
        "z": "8902b921da4a441e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<root>\n    <header/>\n    <body>\n        <queryparams>\n        </queryparams>\n        <devices>\n            {{#payload}}\n            <{{devicename}}\n                id=\"{{id}}\"\n                deviceName=\"{{devicename}}\"\n                ipaddress=\"{{ipaddress}}\"\n                version=\"{{version}}\"\n                securitylevel=\"{{securitylevel}}\"\n                updated=\"{{updated}}\"\n            />\n            {{/payload}}\n        </devices>\n    </body>\n</root>",
        "output": "str",
        "x": 840,
        "y": 260,
        "wires": [
            [
                "27e420ebab7a4e44"
            ]
        ]
    },
    {
        "id": "4c630145ad81245f",
        "type": "subflow:d5d393300a7d91ca",
        "z": "8902b921da4a441e",
        "name": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "5b80a7c901049286"
            ]
        ]
    },
    {
        "id": "9a6eec210a2296b9",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4cc2605ac72562f6"
            ]
        ]
    },
    {
        "id": "886849650bdbe329",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7a30bee5c3b466ff"
            ]
        ]
    },
    {
        "id": "3b985bd271bdbd11",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "DB controller tests",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "6bc27428fb16adc4",
        "type": "snmp subtree",
        "z": "5bb232ee4f529f6f",
        "host": "10.1.1.112",
        "version": "3",
        "timeout": "10",
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "DES",
        "oids": "1.3.6.1.4.1.171.10.76.34",
        "name": "",
        "x": 430,
        "y": 880,
        "wires": [
            [
                "9a7fbd1493744cfc",
                "8db82ffe1e20d2e2"
            ]
        ]
    },
    {
        "id": "9a7fbd1493744cfc",
        "type": "debug",
        "z": "5bb232ee4f529f6f",
        "name": "debug snmp tests",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 880,
        "wires": []
    },
    {
        "id": "765a8f131e1aa197",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "6bc27428fb16adc4"
            ]
        ]
    },
    {
        "id": "8db82ffe1e20d2e2",
        "type": "file",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "filename": "C:\\ProgramData\\node-red\\projects\\node-red-snmp-fetcher-service\\examples\\test_snmp_walk",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 480,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2321f067eca41821",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "snmp walk a device then write to file",
        "info": "",
        "x": 240,
        "y": 840,
        "wires": []
    },
    {
        "id": "514e060bfa62c9c0",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "select all from snmp_objects then console log",
        "info": "",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "46ebcdd33e44a258",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "insert sample data",
        "info": "",
        "x": 180,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cc2605ac72562f6",
        "type": "template",
        "z": "5bb232ee4f529f6f",
        "name": "sample data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"devicename\": \"Test Device\",\n    \"oid\": \"1.3.6.1.2.1.1.3.0\",\n    \"value\": \"Test Value\",\n    \"tstr\": \"OctetString\"\n}\n",
        "output": "json",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "33111954372c649f"
            ]
        ]
    },
    {
        "id": "2ba72c2a09ac172a",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "edit sample data",
        "info": "",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "7a30bee5c3b466ff",
        "type": "subflow:dd256e9dce8a99f6",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "2b645909dcf678ac"
            ]
        ]
    },
    {
        "id": "33111954372c649f",
        "type": "subflow:6dafd41e2e288cc7",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 580,
        "y": 380,
        "wires": [
            [
                "2b645909dcf678ac"
            ]
        ]
    },
    {
        "id": "2b645909dcf678ac",
        "type": "debug",
        "z": "5bb232ee4f529f6f",
        "name": "debug db controller tests",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 280,
        "wires": []
    },
    {
        "id": "f78fec70aee8ebbb",
        "type": "change",
        "z": "5bb232ee4f529f6f",
        "name": "T1-L00-DC1-A10-PDU-A",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "10.32.144.30",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oid",
                "pt": "msg",
                "to": "1.3.6.1.2.1.1.3.0,1.3.6.1.4.1.38446.1.3.4.1.6.1.1,1.3.6.1.4.1.38446.1.2.4.1.4.1,1.3.6.1.4.1.38446.1.2.4.1.5.1,1.3.6.1.4.1.38446.1.2.4.1.6.1,1.3.6.1.4.1.38446.1.2.4.1.9.1,1.3.6.1.4.1.38446.1.6.4.1.8.1.1,1.3.6.1.4.1.38446.1.6.4.1.8.1.2,1.3.6.1.4.1.38446.1.1.2.1.11.1,1.3.6.1.4.1.38446.1.1.2.1.12.1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "devicename",
                "pt": "msg",
                "to": "T1-L00-DC1-A10-PDU-A",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "authkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "privkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "171755a4a749e417",
                "4e3a0039768fea12"
            ]
        ]
    },
    {
        "id": "3ce15292f0bad3a9",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "f78fec70aee8ebbb"
            ]
        ]
    },
    {
        "id": "171755a4a749e417",
        "type": "snmp",
        "z": "5bb232ee4f529f6f",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "AES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-AES",
        "x": 720,
        "y": 1060,
        "wires": [
            [
                "9a7fbd1493744cfc"
            ]
        ]
    },
    {
        "id": "efcddf92fced959a",
        "type": "snmp",
        "z": "5bb232ee4f529f6f",
        "host": "",
        "version": "3",
        "timeout": 5,
        "community": "public",
        "auth": "authPriv",
        "authprot": "SHA",
        "privprot": "DES",
        "oids": "",
        "name": "snmp3-authPriv-SHA-DES",
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "9a7fbd1493744cfc"
            ]
        ]
    },
    {
        "id": "5b36d8b34e1c9ee3",
        "type": "change",
        "z": "5bb232ee4f529f6f",
        "name": "T1-L00-DC1-IRC-A1",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "10.32.144.100",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "oid",
                "pt": "msg",
                "to": "1.3.6.1.2.1.1.3.0,1.3.6.1.4.1.13400.2.385.1.2.0,1.3.6.1.4.1.13400.2.385.2.2.1.0,1.3.6.1.4.1.13400.2.385.2.2.2.0,1.3.6.1.4.1.13400.2.385.2.2.3.0,1.3.6.1.4.1.13400.2.385.2.2.4.0,1.3.6.1.4.1.13400.2.385.2.2.5.0,1.3.6.1.4.1.13400.2.385.2.2.6.0,1.3.6.1.4.1.13400.2.385.2.2.7.0,1.3.6.1.4.1.13400.2.385.2.2.8.0,1.3.6.1.4.1.13400.2.385.2.2.9.0,1.3.6.1.4.1.13400.2.385.2.2.10.0,1.3.6.1.4.1.13400.2.385.2.2.11.0,1.3.6.1.4.1.13400.2.385.2.2.12.0,1.3.6.1.4.1.13400.2.385.2.2.13.0,1.3.6.1.4.1.13400.2.385.2.2.17.0,1.3.6.1.4.1.13400.2.385.2.2.18.0,1.3.6.1.4.1.13400.2.385.2.2.19.0,1.3.6.1.4.1.13400.2.385.2.2.20.0,1.3.6.1.4.1.13400.2.385.2.2.27.0,1.3.6.1.4.1.13400.2.385.2.2.28.0,1.3.6.1.4.1.13400.2.385.2.2.29.0,1.3.6.1.4.1.13400.2.385.2.2.30.0,1.3.6.1.4.1.13400.2.385.2.2.31.0,1.3.6.1.4.1.13400.2.385.2.2.32.0,1.3.6.1.4.1.13400.2.385.2.2.33.0,1.3.6.1.4.1.13400.2.385.2.2.34.0,1.3.6.1.4.1.13400.2.385.2.2.35.0,1.3.6.1.4.1.13400.2.385.2.2.36.0,1.3.6.1.4.1.13400.2.385.2.2.37.0,1.3.6.1.4.1.13400.2.385.2.2.38.0,1.3.6.1.4.1.13400.2.385.2.2.39.0,1.3.6.1.4.1.13400.2.385.2.2.40.0,1.3.6.1.4.1.13400.2.385.2.2.41.0,1.3.6.1.4.1.13400.2.385.2.2.42.0,1.3.6.1.4.1.13400.2.385.2.2.43.0,1.3.6.1.4.1.13400.2.385.2.2.44.0,1.3.6.1.4.1.13400.2.385.2.2.45.0,1.3.6.1.4.1.13400.2.385.2.2.46.0,1.3.6.1.4.1.13400.2.385.2.2.47.0,1.3.6.1.4.1.13400.2.385.2.2.48.0,1.3.6.1.4.1.13400.2.385.2.2.49.0,1.3.6.1.4.1.13400.2.385.2.2.52.0,1.3.6.1.4.1.13400.2.385.2.2.53.0,1.3.6.1.4.1.13400.2.385.2.2.54.0,1.3.6.1.4.1.13400.2.385.2.2.55.0,1.3.6.1.4.1.13400.2.385.2.2.56.0,1.3.6.1.4.1.13400.2.385.2.2.57.0,1.3.6.1.4.1.13400.2.385.2.2.58.0,1.3.6.1.4.1.13400.2.385.2.2.59.0,1.3.6.1.4.1.13400.2.385.2.2.60.0,1.3.6.1.4.1.13400.2.385.2.2.64.0,1.3.6.1.4.1.13400.2.385.2.2.65.0,1.3.6.1.4.1.13400.2.385.2.2.66.0,1.3.6.1.4.1.13400.2.385.2.2.67.0,1.3.6.1.4.1.13400.2.385.2.2.68.0,1.3.6.1.4.1.13400.2.385.2.2.69.0,1.3.6.1.4.1.13400.2.385.2.2.70.0,1.3.6.1.4.1.13400.2.385.2.2.71.0,1.3.6.1.4.1.13400.2.385.2.2.72.0,1.3.6.1.4.1.13400.2.385.2.2.73.0,1.3.6.1.4.1.13400.2.385.2.4.1.0,1.3.6.1.4.1.13400.2.385.2.4.2.0,1.3.6.1.4.1.13400.2.385.2.4.3.0,1.3.6.1.4.1.13400.2.385.2.4.5.0,1.3.6.1.4.1.13400.2.385.2.2.80.0,1.3.6.1.4.1.13400.2.385.2.2.81.0,1.3.6.1.4.1.13400.2.385.2.2.82.0,1.3.6.1.4.1.13400.2.385.2.2.83.0,1.3.6.1.4.1.13400.2.385.2.2.84.0,1.3.6.1.4.1.13400.2.385.2.2.85.0,1.3.6.1.4.1.13400.2.385.2.2.86.0,1.3.6.1.4.1.13400.2.385.2.2.87.0,1.3.6.1.4.1.13400.2.385.2.2.92.0,1.3.6.1.4.1.13400.2.385.2.2.95.0,1.3.6.1.4.1.13400.2.385.2.2.98.0,1.3.6.1.4.1.13400.2.385.2.2.114.0,1.3.6.1.4.1.13400.2.385.2.2.130.0,1.3.6.1.4.1.13400.2.385.2.2.131.0,1.3.6.1.4.1.13400.2.385.2.2.137.0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "devicename",
                "pt": "msg",
                "to": "T1-L00-DC1-IRC-A1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "authkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "privkey",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1160,
        "wires": [
            [
                "efcddf92fced959a",
                "a82247f423b48711"
            ]
        ]
    },
    {
        "id": "94ef10a894955709",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "5b36d8b34e1c9ee3"
            ]
        ]
    },
    {
        "id": "b928e7b258e0f491",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "97ff57a013409d63"
            ]
        ]
    },
    {
        "id": "966b5c113aef506b",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "select all from snmp_devices then console log",
        "info": "",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "98cce393c1a980ee",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "1669c8a1f8d50f82"
            ]
        ]
    },
    {
        "id": "4cb2dadee3b0c116",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "insert invalid action and confirm debug message",
        "info": "",
        "x": 270,
        "y": 440,
        "wires": []
    },
    {
        "id": "518064ee0e115a48",
        "type": "subflow:a1e4324b31a71af9",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "2b645909dcf678ac"
            ]
        ]
    },
    {
        "id": "1669c8a1f8d50f82",
        "type": "change",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "badOperation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "518064ee0e115a48"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "c0ccbe3e907419f7",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "db operation: badOperation",
        "info": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "7bfdb101e4b8ef63",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "snmp tests",
        "info": "",
        "x": 160,
        "y": 800,
        "wires": []
    },
    {
        "id": "cfeefd23b0c6ec6d",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "snmp poll a device",
        "info": "",
        "x": 190,
        "y": 1020,
        "wires": []
    },
    {
        "id": "41756cd15201c95f",
        "type": "inject",
        "z": "5bb232ee4f529f6f",
        "name": "click to inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "016c988a9759af12"
            ]
        ]
    },
    {
        "id": "54e61afb0da8fc4c",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "initialise empty db",
        "info": "",
        "x": 190,
        "y": 540,
        "wires": []
    },
    {
        "id": "970bce2e26003ee1",
        "type": "subflow:a1e4324b31a71af9",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "2b645909dcf678ac"
            ]
        ]
    },
    {
        "id": "016c988a9759af12",
        "type": "change",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "initialise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "970bce2e26003ee1"
            ]
        ],
        "info": "upsertValues:\r\nloadObjects"
    },
    {
        "id": "d0c136135aba4326",
        "type": "comment",
        "z": "5bb232ee4f529f6f",
        "name": "db operation: initialise",
        "info": "",
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "a82247f423b48711",
        "type": "subflow:4cb39d2ff60de472",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 760,
        "y": 1220,
        "wires": [
            [
                "9a7fbd1493744cfc"
            ]
        ]
    },
    {
        "id": "4e3a0039768fea12",
        "type": "subflow:fef427aa2bd2e850",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 760,
        "y": 1100,
        "wires": [
            [
                "9a7fbd1493744cfc"
            ]
        ]
    },
    {
        "id": "97ff57a013409d63",
        "type": "subflow:d5d393300a7d91ca",
        "z": "5bb232ee4f529f6f",
        "name": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "2b645909dcf678ac"
            ]
        ]
    }
]